<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap">
    <link rel="stylesheet" href="styles/main.css" />
    <title>Ponderverse</title>
</head>
<body>
    <div class="box">
    <h1 class="heading"><img src="/assets/book.svg" class="icon"> PONDERVERSE</h1>
</div>
</body>
</html>