<%- include('header.ejs'); -%>
<div id="container">
    <h1 id="heading2">
      The Multiverse of Books
    </h1>
  </div>
  <div id="container2">
    <h2 id="heading3">
      LATEST READS
    </h2>
  </div>
  <hr>