html{
     background-image: linear-gradient(to right top, #0e1433, #19143a, #26133f, #331042, #410a44);
     display: flex;
     justify-content: center;
}
body {
     display: flex;
     flex-direction: column;
     justify-content: stretch;
     min-height: 100vh;
   }
.box{
     margin-top: 60px;
     background-color: #FFC72F;
     padding-left: 20px;
     padding-right: 20px;
     align-items: center;
     color: black;
     border-radius: 50px;
     
}
.heading{
      margin:0;
     display: flex;
     align-items: center;
     font-family: 'Inter', sans-serif;
     font-weight: 500;
}
.icon{
  width: 50px;
  height: 50px;
  padding-right: 10px;
}